.chat-container {
  position: fixed;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  bottom: 50px;
  right: 50px;
  border-radius: 50em;
  background: var(--color-grey);
}

.chat-icon {
}

.chat-description {
}
