.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  background-image: url('../../assets/img/backgound/main-bg.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.title {
  line-height: 195px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
