:root {
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --color-grey: #313234;
  --colot-white: #ffffff;
  --color-grey-light: #f5f5f8;
  --color-grey-blue: #efefff;
  --main-purple: #7315e5;
}
